@import '../../styles//variables.module.scss';

.LogoWrap {
    position: absolute;
    bottom: 0;
    width: 8%;
    padding: 1%;
    margin: 0 auto;
    background-color: $orange;
}

.Logo {
    width: 100%;
    height: auto;
}

.LogoName {
    font-size: 1vw;
}
