@import '../../styles//variables.module.scss';

.LogoWrap {
    position: absolute;
    bottom: 0;
    width: 10%;
    padding: 1%;
    margin: 0 auto;
}

.Logo {
    width: 100%;
    height: auto;
}

.LogoName {
    font-size: 1.5vw;
}
