
/* Space Grotesk */

@font-face {
    font-family: 'BlackOpsOne-Regular';
    font-weight: 300;
    src: url('../assets/fonts/BlackOpsOne-Regular.ttf')  format('truetype'),
}

@font-face {
    font-family: 'Marker';
    font-weight: 300;
    src: url('../assets/fonts/PermanentMarker-Regular.ttf')  format('truetype'),
}


$BO: 'BlackOpsOne-Regular', sans-serif;
$marker: 'Marker', san-serif;