@import "../../../styles/base.module.scss";

.Button {
  border-radius: 10px;
  padding: 1vw;
  border: none;
  transition: all 0.5s;
  text-transform: uppercase;
  font-family: $BO;
  font-size: 20px;

  &.orange {
    color: $darkorange;
    background-color: $white;
  }

  &:active {
    color: $darkorange;
    background-color: $white;
  }

  &:disabled {
    background-color: $grey;
    color: $black;
  }
}
