@import '../../styles//variables.module.scss';

.TitleWrap {
    background-color: $orange;
    margin: 10% 0;
    padding: 3%;
    transform: skewY(-5deg);
    box-shadow: 0px 10px 10px 5px black;
}

.Title {
    color: $white;
    font-size: 8vw;
    transform: skewX(5deg);
}